<!DOCTYPE  html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet" media="screen">
    <link href={% static "css/screen.css" %} rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src={% static "js/html5shiv.min.js" %}></script>
      <script src={% static "js/respond.min.js" %}></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation -->
    <header class="masthead">
      <nav class="navbar navbar-default banner" role="navigation">
        <div>
          <a href="#"><img class="banner-img" src="http://www.metal-archives.com/images/7/3/4/2/73422_logo.jpg"></img></a>
        </div>
        <!--<div class="navbar-header nav-center">-->
        <!--</div>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-span">
          <ul class="nav nav-justified nav-grey nav-tabs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-span">
                <li><a href="#">Live</a></li>
                <li><a href="#">Portrait</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container" role="main">
    <!-- Content -->
      {% block content %}{% endblock %}
    <!-- Footer -->
    <footer>
        <small>(c) 2015 Jess Mathews Photography</small>
    </footer>
    </main>
    <!-- Javascript -->
    <script src={% static "js/jquery-2.1.3.min.js" %}></script>
    <!--<script src={% static "js/jquery-1.9.1.min.js" %}></script>-->
    <script src={% static "js/bootstrap.min.js" %}></script>
    <!--<script src={% static "js/project.js" %}></script>-->
  </body>
</html>
