{% extends "zinnia:zinnia/entry_detail_base.html" %}
{% load i18n zinnia %}

{% block entry-widgets %}
<aside class="entry-widgets" role="complementary">
</aside>
{% endblock entry-widgets %}

{% block entry-pingbacks %}
{% if object.pingback_count %}
<section id="pingbacks" class="panel panel-info">
</section>
{% endif %}
{% block pingbacks-status %}
{% if object.pingbacks_are_open %}
{% else %}
{% endif %}
{% endblock pingbacks-status %}
{% endblock entry-pingbacks %}

{% block entry-trackbacks %}
{% if object.trackback_count %}
<section id="trackbacks" class="panel panel-info">
</section>
{% endif %}
{% block trackbacks-status %}
{% if object.trackbacks_are_open %}
{% endif %}
{% endblock trackbacks-status %}
{% endblock entry-trackbacks %}

{% block entry-comments %}
{% if object.comment_count %}
<section id="comments" class="panel panel-info">
</section>
{% else %}
{% if object.comments_are_open %}
<p></p>
{% else %}
<p></p>
{% endif %}
{% endif %}
{% endblock entry-comments %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li class="list-group-item">
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    <span class="glyphicon glyphicon-edit"></span>
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
