.masthead {
  margin: 0 0 20px 0;
	background-image: url(http://www.metal-archives.com/images/7/3/4/2/73422_logo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	min-height: 400px;
}

.breadcrumb-clear {
  background: none;
}

.blog-nav {
  padding-bottom: 20px;
}

@media (min-width: 768px){
	.blog-nav .navbar-nav{
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float: none;
	}
}

a:focus.gallery-thumb, a:hover.gallery-thumb {
    color: #23527c;
    text-decoration: none;
} 

footer {
	margin-top: 50px;
	margin-bottom: 200px;
}
