/* Scaffolding */

* {
  box-sizing: border-box;
}

body {
  background-color: #1D0E00;
  padding-top: 70px;
}

/* Header */

.masthead a {
  color: black;
}

.banner {
  background-color: black;
  border-style: none;
}

.banner-img {
  margin: 0 auto;
  display: block;
}

.nav-grey {
  background-color: grey;
}

.nav-span {
  padding: 0;
}

.dropdown-span {
  width: 75%;
}
