 */
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);

/* Scaffolding */

* {
  box-sizing: border-box;
}

body {
  background-color: #ECF0F1;
  padding-top: 40px;
  font-family: 'Vollkorn', serif;
  font-weight: bolder;
  color: #2C3E50;
}

/* Header */

header {
  background-color: black;
  border-style: none;
}

nav a {
  color: #2C3E50;
  font-weight: lighter;
}

.banner-img {
  margin: 0 auto;
  display: block;
}

.dropdown-span {
  width: 75%;
}

/* Slider */

#slider1_container {
  margin-top: 8%;
  margin-bottom: 8%;
  /*-webkit-box-shadow: 0px 0px 33px 4px rgba(108,108,108,1);*/
  /*-moz-box-shadow: 0px 0px 33px 4px rgba(108,108,108,1);*/
  /*box-shadow: 0px 0px 33px 4px rgba(108,108,108,1);*/
}

/*Footer */

footer {
  padding: 1% 0 1% 0;
  text-align: center;
}
