/* Imports */
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);

/* Scaffolding */

* {
  box-sizing: border-box;
}

body {
  background-color: #1D0E00;
  padding-top: 70px;
  font-family: 'Vollkorn', serif;
  font-weight: bolder;
  color: #2ECC40;
}

/* Header */

.masthead a {
  color: #2ECC40;
  font-weight: bolder;
}

.banner {
  background-color: black;
  border-style: none;
}

.banner-img {
  margin: 0 auto;
  display: block;
}

.nav-grey {
  background-color: grey;
}

.nav-span {
  padding: 0;
}

.dropdown-span {
  width: 75%;
}

 /*Footer */

footer {
  padding: 1% 0 1% 0;
  text-align: center;
}
